{
    "jsonRecursiveSort": true,
    "plugins": ["prettier-plugin-sort-json", "prettier-plugin-toml"],
    "printWidth": 120,
    "proseWrap": "preserve",
    "reorderKeys": true,
    "semi": true,
    "singleQuote": false,
    "tabWidth": 4,
    "useTabs": false
}
