name: CI

on:
    push:
        branches:
            - main

    pull_request:
        branches:
            - main

permissions:
    actions: read
    contents: read
    packages: read

env:
    SOPS_AGE_KEY: ${{ secrets.AGE_SECRET_KEY }}

jobs:
    ci:
        runs-on: ubuntu-latest

        steps:
            - name: Install SOPS
              env:
                  SOPS_VERSION: v3.11.0
              run: |
                  curl -LO https://github.com/getsops/sops/releases/download/${SOPS_VERSION}/sops-${SOPS_VERSION}.linux.amd64
                  sudo mv sops-${SOPS_VERSION}.linux.amd64 /usr/local/bin/sops
                  sudo chmod +x /usr/local/bin/sops

            - name: Checkout code
              uses: actions/checkout@v4
              with:
                  fetch-depth: 0

            - name: Install uv
              run: python -m pip install uv

            - name: Cache the virtualenv
              uses: actions/cache@v4
              with:
                  path: ./.venv
                  key: ${{ runner.os }}-venv-${{ hashFiles('**/uv.lock') }}

            - name: Install Python dependencies
              run: uv venv --allow-existing && uv sync

            - name: Expose GitHub Runtime
              uses: crazy-max/ghaction-github-runtime@v3

            - name: Update GITHUB_PATH
              run: echo "$(uv python find)" >> $GITHUB_PATH

            - name: Setup Node.js and dependencies
              uses: actions/setup-node@v4
              with:
                  node-version: 20
                  cache: npm

            - name: Install Node.js dependencies
              run: npm install

            - name: Run pre-commit hooks
              uses: pre-commit/action@v3.0.1

            - name: Set SHA for affected commands
              uses: nrwl/nx-set-shas@v4

            - name: Test affected projects
              run: npx nx affected -t test e2e -c ci
