name: Publish Documentation

on:
    push:
        branches:
            - main

jobs:
    publish-docs:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v4
              with:
                  fetch-depth: 0

            - run: git config --global user.email "thijsfranck@aureliusenterprise.com"
            - run: git config --global user.name "Thijs Franck"

            - uses: actions/setup-python@v5
              with:
                  python-version: 3.14

            - name: Install uv
              run: python -m pip install uv

            - name: Cache the virtualenv
              uses: actions/cache@v4
              with:
                  path: ./.venv
                  key: ${{ runner.os }}-venv-${{ hashFiles('**/uv.lock') }}

            - name: Install Python dependencies
              run: uv venv --allow-existing && uv sync

            - name: Publish documentation
              run: uv run mkdocs gh-deploy
              shell: bash
